<h2>News Scrape!</h2>
<h4>A resource site for all of your news!</h4>

<div id="articles">

    <p>This is where the users cluster will be displayed. </p>

    {{#each articles}}
    <br>
    <div>
        <a href="https://www.nytimes.com/{{link}}">{{title}}</a>
        <p>{{summary}}</p>
        <img src="{{image}}">
        {{#each comment}}
        <p>{{body}}</p>
        {{/each}}
        <div>
            <button class="deleteArticle" data-id={{_id}}>Delete Article</button>
            <button class="addComment" data-id={{_id}}>Add Comment</button>
            <div id="{{_id}}"></div>
            {{!-- <textarea id="test1"></textarea>
            <button data-id={{_id}} id="saveComment">Add Comment</button> --}}
        </div>
    </div>
    {{/each}}


</div>

<script src="/assets/js/app.js" type="text/javascript"></script>